* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

body {
  background: #9c9c9c;
  color: #3e5b8f;
  text-align: center;
}

.wrapper {
  max-width: 600px;
  margin: auto;
  background: #fff;
}

.banner img {
  width: 100%;
}

.headline {
  text-align: center;
}

.headline h2 {
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
}

.headline p {
  font-size: 12px;
  font-weight: 600;
  padding: 10px;
}

.headline a {
  color: #3e5b8f;
}

.arrow {
  width: 25px;
  margin-top: 10px;
}

.location h3 {
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 600;
  padding: 30px;
}

.highlight {
  background-size: cover;
  padding: 0px 10px 300px;
  text-align: center;
}

.highlight-box {
  background: rgba(4, 68, 129, 0.9);
  color: #fff;
  padding: 20px;
  border-radius: 0 0 8px 8px;
}

.highlight-box h3 {
  letter-spacing: 4px;
  font-size: 22px;
}

.highlight-box p {
  margin: 0;
}

.highlight-box img {
  margin-right: 6px;
  width: 18px;
  vertical-align: middle;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.gallery img {
  width: 100%;
}

.price-banner {
  position: relative;
  text-align: center;
  margin-bottom: 60px;
}

section.price-banner::after {
  content: "";
  height: 2px;
  width: 60%;
  background: #fff;
  position: absolute;
  opacity: 0.5;
  left: 20%;
}

.price-banner img {
  width: 100%;
  display: block;
}

.price-box {
  position: absolute;
  bottom: 0;
  border-radius: 8px;
  background: rgba(4, 68, 129, 0.9);
  color: #fff;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 10px;
  width: 60%;
  min-width: 250px;
}

.price-box p {
  margin: 13px 0;
}

.note {
  text-align: center;
  padding: 10px 0;
}

/* Features row */
.features {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 10px;
}

.feature {
  flex: 1;
}

.feature img {
  width: 30px;
}

.feature-value {
  font-size: 14px;
  font-weight: 600;
  color: #3e5b8f;
  margin-top: 4px;
}

.information {
  text-align: center;
  padding: 10px 0 40px;
}

.information a {
  display: inline-block;
}

.shadow-button {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  padding: 2px;
}

.information span {
  padding: 14px 18px;
  border-radius: 6px;
}

.information p {
  display: inline;
  color: #044481;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: underline;
}

.hero {
  padding: 30px;
  background: #312e81
    url(https://dev.gvoscrm.io/images/templates/single/property-description-bg.png)
    center top / cover repeat;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  margin: 25px;
}

.hero h1 {
  margin: 0;
  font-size: 24px;
}

.hero span {
  font-size: 14px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
}
.hero p {
  margin-top: 20px;
  line-height: 1.5;
  font-size: 14px;
  text-align: justify;
}
.heading {
  text-align: center;
  padding: 20px 10px;
}
.heading h2 {
  margin: 0;
  font-size: 24px;
}
.heading h3 {
  margin: 10px 0 0;
  font-size: 20px;
  font-weight: normal;
}
.btn {
  display: inline-block;
  background: #044481;
  color: #fff;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: center;
}
.footer img {
  display: block;
  width: 100%;
}
.social-section {
  /* display: flex; */
  text-align: center;
  /* align-items: center; */
  justify-content: center;
  gap: 200px;
  padding: 20px;
}
.social-section p {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #1a1a1a;
  padding: 20px;
}
.social-icons a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  color: blue;
  padding: 15px;
  font-size: 14px;
  /* display: flex;
  gap: 10px;
  align-items: center; */
}
.social-icons a img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.copyright {
  color: #000;
  font-size: 12px;
  margin-top: 20px;
}
.address {
  font-size: 14px;
  margin: 15px 0;
  color: #000;
}
.address strong {
  display: block;
  color: #000;
}
.links {
  color: #000;
  font-size: 14px;
  padding: 40px;
}
.links a {
  color: #0073e6;
}
